{% extends "layout.html" %}
{% block content %}
    <h1>{{ _("Welcome, ") }}{{ current_user.username }}</h1>
    <article class="media content-section">
      <div class="media-body">
          <h2 class="border-bottom mb-4">{{ _('General Functions') }}</h2>
          <a href="{{ url_for('users.overview') }}" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px">{{ _('Open User Account Overview') }}</a>
          <a href="{{ url_for('admin.storage_overview') }}" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px">{{ _('Open Storage Overview') }}</a>

          <h3 class="border-bottom mb-4">{{ _('Backup Options') }}</h3>
            <a href="{{ url_for("admin.backup_database") }}" class="btn btn-primary">{{ _("Download Database Backup") }}</a>
            <a href="{{ url_for("admin.backup_media") }}" class="btn btn-primary">{{ _("Download Media Backup") }}</a>
            <a href="{{ url_for("admin.backup_full") }}" class="btn btn-primary">{{ _('Download Full Backup') }}</a>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <h2 class="border-bottom mb-4">{{ _('Create User Accounts') }}</h2>
        <form method="POST" action="{{ url_for('admin.create_users') }}" enctype="multipart/form-data">
        {{ create_user_form.hidden_tag() }}
          <fieldset class="form-group">
            {{ render_field(create_user_form.account_amount) }}
            {{ render_field(create_user_form.password) }}
            {{ render_field(create_user_form.confirm_password) }}
          </fieldset>
          <div class="form-group">
            {{ create_user_form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
    </article>


    <article class="media content-section">
      <div class="media-body">
        <h2 class="border-bottom mb-4">{{ _('Create items') }}</h2>
        <form method="POST" action="{{ url_for('admin.create_items') }}" enctype="multipart/form-data">
        {{ create_items_form.hidden_tag() }}
          <fieldset class="form-group">
            {{ render_field(create_items_form.item_amount) }}
            {{ render_field(create_items_form.type_amount) }}
            {{ render_field(create_items_form.location_amount) }}
            {{ render_field(create_items_form.origin_amount) }}
          </fieldset>
          <div class="form-group">
            {{ create_items_form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
    </article>


    <article class="media content-section">
      <div class="media-body">
        <h2 class="border-bottom mb-4">{{ _('Create QR Codes') }}</h2>
        <form method="POST" action="{{ url_for('admin.qr_printsheet') }}" enctype="multipart/form-data">
        {{ create_qr_codes_form.hidden_tag() }}
          <fieldset class="form-group">
            {{ render_field(create_qr_codes_form.code_version) }}
            {{ render_field(create_qr_codes_form.code_size) }}
            {{ render_field(create_qr_codes_form.code_border_size) }}
          </fieldset>
          <div class="form-group">
            {{ create_qr_codes_form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <h2 class="border-bottom mb-4">{{ _('Error Page Testing') }}</h2>
        <a href="{{ url_for("admin.error_403") }}" class="btn btn-outline-warning">{{ _("Unauthorized (403)") }}</a>
        <a href="{{ url_for("admin.error_404") }}" class="btn btn-outline-warning">{{ _("Page not found (404)") }}</a>
        <a href="{{ url_for("admin.error_500") }}" class="btn btn-outline-warning">{{ _('Something went wrong (500)') }}</a>
      </div>
    </article>
{% endblock content %}