{% extends "layout.html" %}
{% block content %}
    <h1>{{ _('Storage Overview') }}</h1>
    <table id="users_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>{{ _('Type') }}</th>
                <th>{{ _('File/Directory') }}</th>
                <th>{{ _('Usage') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for single in all %}
            <tr>
                <td>{{ single[0] }}</td>
                <td>{{ single[1] }}</td>
                <td>{{ single[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}