recursive-include kunsthandel *.html *.css *.mo
recursive-include kunsthandel/static/dev/images/dummy *
recursive-include kunsthandel/static/prod/images/dummy *
recursive-include kunsthandel/static/prod/images/dummy *
include kunsthandel/static/texts/*.txt