{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            {% if item.thumbnail() %}
                <a href="{{ url_for("images.details", id=item.thumbnail().id) }}"><img class="rounded-circle account-img" src="{{ item.thumbnail().url() }}" alt="Thumbnail for item {{ item.id }}"></a>
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ item.id }} - {{ item.name }}</h2>
                <p class="text-secondary">{{ item.type.name }}</p>
            </div>
        </div>
        <legend class="border-bottom mb-4">{{ _('Details') }}</legend>
        <p>{{ _('ID') }}: {{ item.id }}</p>
        <p>{{ _('Name') }}: {{ item.name }}</p>
        <p>{{ _('Location') }}: {{ item.location.name }}</p>
        <p>{{ _('Origin') }}: {{ item.origin.name }}</p>
        <p>{{ _('Size') }}: {{ item.size }}</p>
        <p>{{ _('Last edited by') }}: {{ item.edited.username }}</p>
        <p>{{ _('Comment') }}: {{ item.comment }}</p>
        {% for image in item.images %}
            <a href="{{ url_for("images.details", id=image.id) }}"><img src="{{ image.url() }}" class="img-fluid" style="padding-top:20px" alt="Image {{ image.id }} of item {{ item.id }}"></a>
        {% endfor %}
    </div>
{% endblock content %}